/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 10px;
}
body {
  background-image: url('../images/index/hardwood-floor.jpg');
}
.jumbotron {
  text-align: center;
}
.jumbotron h1 {
  font-size: 4rem;
  font-weight: bold;
}
.jumbotron span {
  font-size: 2rem;
}
.jumbotron .hamburger-menu {
  display: flex;
  justify-content: flex-start;
}
.jumbotron nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.jumbotron .hidden-menu {
  display: none;
}
.jumbotron a {
  font-size: 3rem;
}
.jumbotron .logo {
  width: 30rem;
  height: 20rem;
}
.jumbotron .logo-row {
  display: flex;
  justify-content: center;
}
.service-statement h1 {
  font-size: 4rem;
  color: tan;
}
.service-statement p {
  font-size: 2.4rem;
  color: white;
}
.contact-header {
  color: tan;
}
